proxy_location: EveryNode

http_options:
  request_timeout_s: 1
  keep_alive_timeout_s: 400

applications:

- name: "default"
  route_prefix: "/"
  import_path: chaos_test.receiver:alpha
  runtime_env:
    working_dir: https://github.com/ray-project/serve_workloads/archive/ddc9c77ed235709245711abd8a68b267f683e98e.zip
  deployments:
  - name: Receiver
    num_replicas: 3
    ray_actor_options:
      num_cpus: 0
      resources:
        alpha_singleton: 1
  - name: NodeKiller
    num_replicas: 1
    ray_actor_options:
      num_cpus: 0
      resources:
        node_singleton: 1
  - name: DiskLeaker
    num_replicas: 1
    user_config:
      num_GB: 10
    ray_actor_options:
      num_cpus: 0
      resources:
        leak_singleton: 1
